// comentario en sass 
/*comentario en sass y css */ 

//IMPORT

@use "utilidades/variables" as *;
@use "utilidades/mixin"as*; 
//nesting


    nav{
        @include medidas(400px, 300px, rgb(215, 255, 71));
        background-color: red;
         ul{
          @include flex; 
         }
    }

main{
    @include medidas(500px, 300px,red);
    div{
        @include pepito(blue, 18px);
    }
}


.div-ejemplo{
    text-align: center;
    font-size: 20px;
    background-color: red;
}


main .div .img-uno {
       transform: translate(-20px,100px);
       transform-origin: center, center;
 }

         