
// con parametros

@mixin medidas($width,$height, $color,){
    width: 100%;
    height: 100px ;
    color:rgb(0, 174, 255); 
    display: grid;
}


// sin parametros
@mixin flex{
     display: grid;
     justify-content: center;
     align-items: center;
}
// hibrido

@mixin pepito($color, $font-size){
 color: rgb(0, 174, 255);
 font-size: $font-size;
 background-color: rgb(0, 174, 255);
 text-align: center;
}

