
// con parametros

@mixin medidas($width,$height, $color){
    width: $width;
    height: $height;
    color: $color;
}


// sin parametros
@mixin flex{
     display: flex;
     justify-content: center;
     align-items: baseline;
}
// hibrido

@mixin pepito($color, $font-size){
 color: $color;
 font-size: $font-size;
 background-color: rgb(80, 83, 54);
 text-align: center;
}

